{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/add.css') }}">
{%  endblock%}
{% block main %}
    <h1>Modifier une sortie</h1>
    <br>
    <div class="col-sm-3 offset-sm-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="row form-outing">
        <div class="col-sm-6">
            {{ form_start(outingForm) }}

            {{ form_row(outingForm.name) }}
            {{ form_row(outingForm.dateHourStart) }}
            {{ form_row(outingForm.deadlineRegistration) }}
            {{ form_row(outingForm.duration) }}
            {{ form_row(outingForm.maxRegistration) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(outingForm.duration) }}
            {{ form_row(outingForm.description) }}
            {{ form_row(outingForm.campus) }}
            {{ form_row(outingForm.city) }}
            {{ form_row(outingForm.locations) }}
        </div>
    </div>
    <div id="buttons" class="input-group">
        {{ form_row(outingForm.modify) }}
        {{ form_row(outingForm.publish) }}
        {{ form_row(outingForm.remove) }}

        <a class="btn btn-lg" id="btn-cancel" href="{{ path('home') }}">Annuler</a>
        {{ form_row(outingForm._token) }}
        {{ form_end(outingForm, {'render_rest': false}) }}

    </div>


    <script>
        let idCity;
        const selectCity = document.getElementById('outing_form_city');

        window.onload = function () {
            getCity(selectCity.value);
        };

        selectCity.addEventListener('change', function () {
            idCity = selectCity.value;
            console.log(idCity);
            getCity(idCity);
        });

        function getCity(id) {
            fetch("http://localhost/projet_sortir/public/api/location/city/" + id , { method: "GET" })
                .then(response => response.json())
                .then(response => {
                    const $selectLocation = document.querySelector('#outing_form_locations');
                    let options = "";
                    response.map(location => {
                        options += `<option value="${location.id}">${location.name}</option>`
                    })
                    // on injecte les options dans la balise <select>
                    $selectLocation.innerHTML = options;
                })
        }
    </script>
{% endblock %}