{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/add.css') }}">
{% endblock %}
{% block main %}
    <h2 class="text-center mt-4">Modifier une sortie</h2>
    <br>
    <div class="col-sm-3 offset-sm-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="offset-md-1 col-md-5">
            {{ form_start(outingForm) }}

            {{ form_row(outingForm.name) }}
            {{ form_row(outingForm.dateHourStart) }}
            {{ form_row(outingForm.deadlineRegistration) }}
            {{ form_row(outingForm.duration) }}
            {{ form_row(outingForm.maxRegistration) }}
        </div>
        <div class="col-md-5 right-form">
            {{ form_row(outingForm.duration) }}
            {{ form_row(outingForm.description) }}
            {{ form_row(outingForm.campus) }}
            {{ form_row(outingForm.city) }}
            {{ form_row(outingForm.locations) }}
        </div>
    </div>
    <div class="input-group row text-center">
        <div class="offset-md-2 col-md-2 col-sm-6">
            {{ form_row(outingForm.modify) }}
        </div>
        <div class="col-md-2 col-sm-6">
            {{ form_row(outingForm.publish) }}
        </div>
        <div class="col-md-2 col-sm-6">
            {{ form_row(outingForm.remove) }}
        </div>
        <div class="col-md-2 col-sm-6">
            <a class="btn btn-outline-primary" href="{{ path('home') }}">Annuler</a>
        </div>
        {{ form_row(outingForm._token) }}
        {{ form_end(outingForm, {'render_rest': false}) }}
    </div>


    <script>
        let idCity;
        const selectCity = document.getElementById('outing_form_city');

        window.onload = function () {
            getCity(selectCity.value);
        };

        selectCity.addEventListener('change', function () {
            idCity = selectCity.value;
            console.log(idCity);
            getCity(idCity);
        });

        function getCity(id) {
            fetch("http://localhost:8888/projet_sortir/public/api/location/city/" + id, {method: "GET"})
                .then(response => response.json())
                .then(response => {
                    const $selectLocation = document.querySelector('#outing_form_locations');
                    let options = "";
                    response.map(location => {
                        options += `<option value="${location.id}">${location.name}</option>`
                    })
                    // on injecte les options dans la balise <select>
                    $selectLocation.innerHTML = options;
                })
        }
    </script>
{% endblock %}