{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block main %}
    <h1 style="text-align: center">Accueil</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>Inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for outing in outings %}
            <tr class="tab-line">
                <td>{{ outing.name }}</td>
                <td>{{ outing.dateHourStart | date('d/m/Y H:i') }}</td>
                <td>{{ outing.deadlineRegistration | date('d/m/Y') }}</td>
                <td>{{ outing.registeredUser | length }}/{{ outing.maxRegistration }}</td>
                <td>{{ outing.state.name }}</td>
                <td> {% for users in outing.registeredUser %}
                        {% if currentUser in [users.id] %}
                            X
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ outing.oUsers.name }} {{ outing.oUsers.firstname | slice(0, 1) }}.</td>
                <td><a href="#">Afficher</a>
                    {% if (outing.state.id is same as 3) %}
                        - <a href="#">Se désister</a>
                        {% elseif (outing.state.id is same as 2) %}
                        - <a href="#">S'inscrire</a>
                    {% endif %}
                    <br>
                    (ajouter du JS pour la gestion d'inscription + d'organisateur)
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}