<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    {% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar">
        <p class="navbar-brand logo">Logo Sortir.com</p>
        <div class="nav justify-content-end">
            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="nav-link" href="{{ path('user_myprofile') }}">Mon profil</a>
                <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}
<div class="container-fluid">
    {% block main %}
    {% endblock %}
</div>
</body>
</html>
